# Dependencies
/node_modules

# Firebase
.firebase/
*.log
firebase-debug.log
.firebaserc

# Environment Files
/src/environments/environment.ts
/src/environments/environment.prod.ts
.env
*.env
*.env.*

# Compiled output
/dist
/tmp
/out-tsc

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System Files
.DS_Store
Thumbs.db

# Security
*.key
*.pem
*.cert
firebase-adminsdk.json