# Dependencies
/node_modules

# Compiled output
/dist
/tmp
/out-tsc

# Environment files
/src/environments/*.js
/src/environments/*.js.map

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System Files
.DS_Store
Thumbs.db